/* styles.css */
form {
    background-color: lightgrey;
    padding: 20px;
  }
  
  h2 {
    color: yellow;
  }
  
  button[type="submit"] {
    background-color: yellow;
    color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  